<%- model_class = ExtMeishiki -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human %></h1>
</div>

<%= render :partial => 'base_param', :locals => { :meishiki => @ext_meishiki.meishiki} %>

<%= render 'sekki_input' %>
